.avatar-img-border {
  box-shadow: none !important;
  
}

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 1.125rem;
  color: {{ site.text-col | default: "#404040" }};
  position: relative;
  background-color: {{ site.page-col | default: "#171717" }};
  {% if site.page-img %}
  background-image: url({{ site.page-img | relative_url }});
  background-attachment: fixed;
  {% endif %}
  overflow-wrap: break-word;
}
