.avatar-img-border {
  box-shadow: none !important;
  
}

body {
  font-family: 'Russo One', 'Roboto', serif !important;
  font-size: 1.125rem !important;
  background-color: {{ site.page-col | default: "#171717" !important }};
}
